@import './common.scss';
html,
body {
  height: 100%;
  background: #101421;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d1d1d1; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: grey;
  }
}

.loading {
  font-size: 5rem;
  text-align: center;
  color: #f1f1f1;
  margin-top: 20%;
  opacity: 0;
}

.box-wrapper {
  display: flex;
  align-items: center;
}

.file-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: rgb(86, 100, 210);
  color: #f1f1f1;
  border-radius: 10px;
  width: 100px;
  font-size: 0.9em;
  margin-left: 25px;
  height: 30px;
  &:hover {
    background: rgb(23, 43, 77);
    transition: all 0.5s ease-out;
  }
}
.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: rgb(86, 100, 210);
  color: #f1f1f1;
  border-radius: 10px;
  width: 100px;
  font-size: 0.9em;
  margin-left: 25px;
  height: 30px;
  &:hover {
    background: rgb(23, 43, 77);
    transition: all 0.5s ease-out;
  }
}

.chall-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
  height: 80px;
  font-weight: 500;
  overflow-y: auto;
  line-height: 1.5em;
  white-space: break-spaces;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d1d1d1; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
.chall-close-btn {
  color: rgb(86, 100, 210);
  position: absolute;
  right: 20px;
  top: 10px;
  box-shadow: 3px 3px 30px -13px #000;
  cursor: pointer;
  &:hover {
    color: #ffa94d;
    transition: all 0.2s ease-in-out;
  }
}

.home-sidebar {
  @media screen and(max-width: 768px) {
    width: 100px;
    font-size: 0.8em;
    &.mini {
      width: 130px;
    }
  }
  width: 230px;
  background: linear-gradient(to top, #181924, #191f2c);
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 100px;
  height: 98vh;

  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 30px -13px #000;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d1d1d1; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: grey;
  }
  .title-wrapper {
    text-align: center;
    padding: 15px;
    img {
      width: 150px;
      @media screen and(max-width: 768px) {
        width: 110px;
        font-size: 0.4em;
      }
    }
  }
  .home-sidemenu {
    @media screen and(max-width: 768px) {
      width: 100px;
      font-size: 0.5em;
    }
    width: 218px;
    height: 80%;
    background: #191f2c;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .home-category {
    @media screen and(max-width: 768px) {
      margin-left: 50px;
      font-size: 1em;
      width: 220px;
    }
    color: #f1f1f1;
    a {
      text-decoration: none;
      color: #f1f1f1;
    }
    font-size: 1.2em;
    li {
      font-size: 0.95em;
      padding: 15px;
      cursor: pointer;
      &.active {
        color: #bac8ff;
        border-radius: 50px;
        width: 200px;
        transition: opacity 0.2s ease-in-out;
      }
      &:hover {
        opacity: 0.6;
        color: #fff;
        border-radius: 50px;
        width: 200px;
        transition: width 0.2s ease-out;
      }
    }
  }

  .copyright {
    @media screen and(max-width: 768px) {
      width: 100px;
      font-size: 0.5em;
    }
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 30px;
    .copyright-text {
      color: #f1f1f1;
      font-size: 0.8em;
      font-weight: 300;
    }
  }
}

.notification {
  position: absolute;
  width: 773px;
  height: 437px;
  left: 319px;
  top: 557px;

  background: #f3d9fa;
  border-radius: 20px;
}

.activity {
  position: absolute;
  width: 288px;
  height: 628px;
  left: 1122px;
  top: 366px;
  background: #fcc2d7;
  border-radius: 20px;
}

.login-wrapper {
  @media screen and(max-width: 768px) {
    font-size: 0.8em;
    width: 200px;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 50px;
  width: 300px;
  max-width: 100%;
  top: 20px;
  a {
    text-decoration: none;
    color: #f1f1f1;
    &:hover {
      color: skyblue;
    }
  }
  .login-button {
    @media screen and(max-width: 768px) {
      margin-left: 30px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background: #646ca8;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color: #f1f1f1;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 3px 3px 30px -13px #000;
    &:hover {
      background: rgb(23, 43, 77);
      transition: all 0.5s ease-out;
    }
  }

  .register-button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #646ca8;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color: #f1f1f1;
    font-size: 1em;
    box-shadow: 3px 3px 30px -13px #000;
    &:hover {
      background: rgb(23, 43, 77);
      transition: all 0.5s ease-out;
    }
  }
}

.Signup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.signup-page-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  animation-name: button-motion;
  animation-duration: 0.5s;

  &.fadeout {
    animation-name: fadeout-motion;
    animation-duration: 0.5s;
    @keyframes fadeout-motion {
      0% {
        opacity: 1;
      }
      100% {
        top: 0;
        opacity: 0;
      }
    }
  }

  @keyframes button-motion {
    0% {
      top: 0;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .link-to {
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: rgb(86, 100, 210);
    }
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: skyblue;
      }
    }
  }
  .signup-wrapper {
    background: #f1f1f1;
    // height: 500px;
    height: 470px;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    width: 500px;
    text-align: center;
    opacity: 0.93;
    &.answer {
      height: 300px;
    }
    &.register {
      height: 700px;
    }
  }
  .signup-header {
    font-size: 1.5rem;
    padding-left: 25px;
    text-align: left;
    margin-top: 20px;
    .signup-header-subtitle {
      margin: 20px 0 25px;
      color: gray;
      font-size: 0.6em;
    }
  }
  .signup-input {
    .signup-input-text {
      text-align: left;
      padding-left: 35px;
      color: gray;
      font-size: 0.8em;
    }
    .signup-button {
      button {
        outline: none;
        border: 1px solid #f1f1f1;
        background: rgb(86, 100, 210);
        color: #f1f1f1;
        font-weight: bold;
        cursor: pointer;
        width: 90%;
        border-radius: 15px;
        height: 40px;
        transition: all 0.5s ease-out;
        box-shadow: (0 0 0 / 15%) 0px 2px 5px;
        &:hover {
          background: rgb(23, 43, 77);
        }
      }
      &.repeat {
        button {
          background: #ff6b6b;
        }
      }
    }
    &.id {
      input {
        margin: 10px 0 30px 0;
        width: 90%;
        border: 1px solid #d1d1d1;
        border-radius: 15px;
        height: 50px;
        outline: none;
        padding-left: 10px;
        font-size: 1em;
        &:focus {
          border: 2px solid rgb(86, 100, 210);
        }
      }
    }
    &.pw {
      input {
        margin: 10px 0 30px 0;
        width: 90%;
        border: 1px solid #d1d1d1;
        border-radius: 15px;
        height: 50px;
        outline: none;
        padding-left: 10px;
        font-size: 1em;
        &:hover {
          border: 1px solid #000;
        }
        &:focus {
          border: 2px solid rgb(86, 100, 210);
        }
      }
    }
  }
}

.challs-wrapper {
  @media screen and(max-width: 768px) {
    width: calc(100% - 200px);
    margin-top: 200px;
    left: 180px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  margin-top: 250px;
  margin-bottom: 30px;
  width: calc(100% - 300px);
  min-width: 0;
  left: 275px;
  max-width: 100%;
  background: #191f2c;
  border-radius: 15px;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.25);
  animation-name: challs-motion;
  animation-duration: 0.5s;

  @keyframes challs-motion {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .challs-box {
    @media screen and(max-width: 768px) {
      width: 150px;
      height: 100px;
    }
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 30px 20px;
    width: 220px;
    height: 140px;
    border: 1px solid #ffc9c9;
    border-radius: 10px;
    box-shadow: 3px 3px 30px -13px #000;
    // background: #fcc2d7;
    background: transparent;
    opacity: 0.8;
    animation-name: filtering-motion;
    animation-duration: 0.8s;

    &.correct {
      border: 1px solid #6197ca;
      // background: #a5d8ff;
      background: transparent;
      transition: all 0.5s ease-out;
      animation-name: filtering-motion;
      animation-duration: 0.8s;

      &:hover {
        background: #74c0fc;
        opacity: 0.6;
      }
    }
    @keyframes filtering-motion {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.8;
      }
    }
    .challs-tag {
      border: none;
      background: #b197fc;
      color: #f1f1f1;
      padding: 5px 10px;
      text-align: center;
      position: absolute;
      font-size: 0.85em;
      border-radius: 10px;
    }
    .challs-point {
      font-weight: bold;
      color: #d1d1d1;
      // color: #000;
      text-align: center;
    }
    .challs-title {
      // color: #000;
      color: #f1f1f1;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
    &:hover {
      background: #faa2c1;
      opacity: 0.7;
      border: none;
      transition: all 0.3s ease-in-out;
      .challs-title {
        color: #000;
        transition: all 0.3s ease-out;
        opacity: 0.6;
      }
      .challs-tag {
        color: #000;
        transition: all 0.3s ease-out;
        opacity: 0.6;
      }
      .challs-point {
        color: #000;
        transition: all 0.3s ease-out;
        opacity: 0.6;
      }
    }
  }

  .challs-box-correct {
    @media screen and(max-width: 768px) {
      width: 150px;
      height: 100px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 20px 20px;
    width: 240px;
    height: 150px;
    border: 1px solid #6197ca;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 30px -13px #000;

    .challs-title {
      color: #f1f1f1;
      font-weight: bold;
    }
    &:hover {
      background: #74c0fc;
      border: none;
      transition: all 0.3s ease-in-out;
      opacity: 0.7;
      .challs-title {
        color: #000;
        transition: all 0.3s ease-in-out;
      }
      .challs-tag {
        color: #000;
      }
    }
  }
}

.welcome-user-wrapper {
  @media screen and(max-width: 768px) {
  }
  display: flex;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  .welcome-user {
    color: #fff;
    margin: 0 auto;
    position: relative;
  }
}

.rule-wrapper {
  @media screen and(max-width: 768px) {
    left: 200px;
  }
  position: relative;
  top: 65px;
  width: 50%;
  max-width: 100%;
  height: 500px;
  left: 275px;
  display: flex;
  justify-content: left;
  background: #191f2c;
  border-radius: 15px;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.25);
  animation-name: challs-motion;
  animation-duration: 0.5s;

  .rule-title {
    color: #e1e1e1;
    margin: 0 auto;
    text-align: center;
    li {
      margin-top: 30px;
      margin-left: 25px;
      text-align: left;
    }
  }

  .rule-welcome {
    padding-top: 50px;
    height: 150px;
    width: 90%;
    margin: 0 auto;
  }
}
